<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{ url_for('static',filename='scripts/main.js') }}"></script>

<!-- 		<link rel="icon" href="https://lambdahalf.ru/lambda_ico.svg"> -->

		<title>Magical PooF</title>
	</head>
	<body>
		<div class="bg"></div>
		<div class="card">
			<img class="mp" src="{{ url_for('static',filename='mp.png') }}">
			<iframe class="twitch" src="https://player.twitch.tv/?channel=magical_poof&parent=magicalpoof.ru" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
			<div class="line"></div>
			<div class=""></div>
			<div class="line"></div>
		</div>
		
	</body>
</html>